<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
<<<<<<< HEAD
  Team Name: <%= @name %>
  Coach: <%= @coach %>
  Point Guard: <%=@pg %>
  Power Forward: <%=@pf %>
  Shooting Guard: <%=@sg %>
  Small Forward: <%=@sf %>
  Center: <%=@c %>
=======
 <h1>Basketball Team!</h1>
    Team Name: <%= @name %>
    Coach: <%= @coach %>
    Point Guard: <%= @point_g %>
    Shooting Guard: <%= @shooting_g %>
    Small Forward: <%= @small_g %>
    Power Forward: <%= @power_f %>
    Center: <%= @center %>
>>>>>>> 71714133b0284d7945086e710ca47d8dfa869b68

 </body>
</html>


